#page-rsalud {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
    
}


#cabeza{
    position: relative;
    display: flex;
    width: 100;
}

#dr2{
    
    position: relative;
    display: inline-block;
    
    width:37%;
    height: 100%;
    margin: auto;
    margin-left: -3%;
    float: left;
}

#txtdr2{
    position: relative;
    display: inline-block;
    text-align: left;
    color: white;
    padding: 3%;
    width:60%;
    height: 100%;
    float:right;
    margin: auto;
    background-color: #96005a;
    border-radius: 5%;

}

#gridsalud{
   position: relative;
    display: inline-block; 
    width: 100%;
    margin-top: 5%;
    align-self: center;
    align-content: center;
    text-align: center;
    
    
}

#filasalud{
    position: relative;
    display: inline-block;
    align-self: center;
    width: 100%;
    color:#0054a3;
    background-color: rgba(255, 255, 255, 0.5);
    
}
 #laterales{
     position: relative;
     display: inline-block;
 }

#rowsalud{
    position: relative;
    display: inline;
    align-self: center;
    align-content: center;
   
}