page-recuperar-pass {

    .rpass{
        position: relative;
        background-color: rgb(131, 5, 93);
        text-align: center;
    }
    #imgr{
        position: relative;
        display: inline;
        width: 50%;
      
        
    }
    #txtr{
        position: relative;
        display: inline;
        color: white;
        text-align: center;
        align-content: center;
    }
    

}
